.section-hover:hover {
    background-color: #007b5e !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.section-box-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.section-spacing {
    padding: 100px;
}

@media only screen and (max-width: 500px) {
    .section-spacing {
        padding: 0px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    .section-spacing {
        padding: 30px;
    }
}